<div class="page-header">
  <h1>Dishes</h1>
</div>

<div class="row">
  <% @dishes.each do |dish| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail">
        <% favorite = current_user.favorites.find_by(:dish_id => dish.id) %>
        <% if favorite.present? %>
          <img src="<%= favorite %>">
        <% else %>
          <i class="fa fa-question"></i>
        <% end %>
        <div class="caption">
          <h5 class="text-center" style="height: 2em">
            <a href="/dishes/<%= dish.id %>"><%= dish.name %></a>
          </h5>
          <p class="text-muted text-center">
            <a href="/cuisines/<%= dish.cuisine.id %>" class="label label-default"><%= dish.cuisine.name %></a>
          </p>
          <% if favorite.present? %>
            <p class="lead text-center" style="height: 2em">
              <a href="/venues/<%= favorite.venue.id %>">
                <%= favorite.venue.name %>
              </a>
            </p>
            <p class="text-muted text-center" style="height: 1em">
              <a href="/favorites/<%= favorite.id %>/edit">
                <%= time_ago_in_words(favorite.updated_at) %> ago
                <i class="fa fa-edit"></i>
              </a>
            </p>
            <% else %>
              <p class="lead text-center" style="height: 2em">
                <a href="/favorites/new?dish_id=<%= dish.id %>" class="btn btn-success">
                  <i class="fa fa-plus"></i>
                </a>
              </p>
              <p style="height: 1em">&nbsp;</p>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p><a href="/dishes/new_form" class="btn btn-primary">Add a New Dish</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Your Favorite</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= Cuisine.find_by({ :id => dish.cuisine_id }).name %></td>
        <td>
          <%= current_user.favorites.find_by(:dish_id => dish.id).try(:venue).try(:name) %>
        </td>
        <td>
          <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/dishes/<%= dish.id %>/edit_form" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

