<div class="page-header">
  <h1>
    <%= @dish.name %>
    <small><a href="/cuisines/<%= @dish.cuisine.id %>"><%= @dish.cuisine.name %></a></small>
  </h1>
</div>

<div class="row">
  <% @dish.favorites.each do |favorite| %>
    <div class="dish col-xs-6 col-sm-4 col-md-3 col-lg-2 item">
      <div class="thumbnail">
        <a href="/favorites/<%= favorite.id %>">
          <% if favorite.photo.present? %>
            <img src="<%= favorite.photo %>">
          <% else %>
            <img src="/check.svg">
          <% end %>
        </a>
        <div class="caption">
          <h5 class="text-center">
            <a href="/users/<%= favorite.user.id %>"><%= favorite.user.username %></a>
          </h5>
          <p class="lead text-center">
            <a href="/venues/<%= favorite.venue.id %>">
              <%= favorite.venue.name %>
            </a>
          </p>
          <p class="text-center">
            <%= favorite.notes %>
          </p>
          <p class="text-muted text-center">
            <a href="/favorites/<%= favorite.id %>/edit">
              <%= time_ago_in_words(favorite.updated_at) %> ago
              <i class="fa fa-edit"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<dl class="dl-horizontal">


  <dt>Favorites</dt>
  <dd>
    <ul>
      <% Favorite.where({ :dish_id => @dish.id }).each do |favorite| %>
        <li>
          <%= User.find_by({ :id => favorite.user_id }).username %>
          <i class="fa fa-heart"></i>
          <%= Venue.find_by({ :id => favorite.venue_id }).name %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
